    .center-block {
      float: none !important;
    }
     
    .login {
        margin-top: 60px;
    }

    .login-header {
        margin-bottom: 100px;
        text-align: center;
        font-size: 40px;
    }

    .heading {
        font-family: 'Palatino Linotype';
    }

    .heading-login {
        font-size: 20px; 
    }

    .heading-nav {
        font-size: 30px !important;
        font-weight: 600px !important;
        margin-top: 5px;
        font-family: 'Copperplate Gothic Light';
    }
    
    .navbar {
      margin: 0px !important;
    }
    
    input {
    //   background-color: #edeff0 !important;
    }
    
    .container-index {
      background-color: #E4F0F6;
      min-width: 100vh;
      min-height: 100vh;
    }

    .note {
        margin-top: 150px;

    }