<!DOCTYPE html>
<html ng-app="TodoListApp">

<head>
  <title>TODO List</title>
  <!-- AngularJS -->
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/services/api-service.js"></script>
  <script src="/javascripts/angular-drag-and-drop-lists.js"></script>

  <!-- Google Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <!--<link rel="stylesheet" href="normalize.css" />-->

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.1/css/jasny-bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-controller="boardController" ng-init="init('<%= JSON.stringify(user) %>','<%= JSON.stringify(board) %>')" style="background-color: {{board.background}}">


  <navbar user='user'></navbar>

  </div>
  <div>
    <sidebar board='board'></sidebar>

    <div class="board-header">
      <%= board.name %> Prywatna

    </div>
  </div>


  <div id="wrapper"><span> {{results.length}}</span>{{searchCards}}
    <input type="text" ng-model="searchCards.name">  
    <!--kc-->
    <ul id="first" dnd-horizontal-list="true" dnd-list="board.lists" dnd-allowed-types="['item']">
      <li ng-repeat="item in board.lists" dnd-draggable="item" dnd-type="'item'" dnd-effect-allowed="move" ng-class="{'selected': board.selected === item}"
        dnd-moved="removeList($index)" dnd-dragstart="logEvent()" dnd-dragend="endEvent()">
        <div>
          <div id="tasks">
            <div class="titleCard">
              {{item.list}}
            </div>
            <ol id="second" dnd-list="item.cards" dnd-allowed-types="['card']">
              <li style="margin: 3px 0 3px 0;" ng-repeat="card in item.cards | filter:searchCards as results" dnd-draggable="card" dnd-type="'card'" dnd-effect-allowed="move"
                dnd-moved="removeItem($parent.$index, $index)" ng-class="{'selected': item.selected === card}">  

                <a style="text-decoration: none; color: black;" data-toggle="modal" ng-click="checkDescStatus($parent.$index, $index, card.description, card.name)"
                  href="#{{card._id}}">
                  <div class="card">
                    <span>{{card.name}}</span>
                  </div>
                </a>

                <!--<div modal-window-card></div>-->
              </li>
            </ol>
            <div class="addCardForm" ng-click="blockClosingList($event)" ng-class="{active : indexAddCard == $index && toggleAddCard === true}"
              id="id_warstwy2{{$index}}">
              <form>
                <textarea ng-model="newTask" ng-keypress="($event.keyCode==13) ? addTask(newTask, $index) : return"></textarea>
                <button class="btn btn-success" ng-click="addTask(newTask, $index)">Dodaj</button>
                <button class="btn btn-default" ng-click="addCard($index)">Anuluj</button>
              </form>
            </div>
            <a href="#" ng-click="addCard($index);">
              <div ng-class="{deactive : indexAddCard == $index && toggleAddCard === true}" class="addCard" id="id_warstwy{{$index}}">
                <span>Dodaj kartę...</span>
              </div>
            </a>
          </div>
        </div>
      </li>

      <ul class="third-list" dnd-list="board.lists" dnd-allowed-types="['de']">
        <li ng-class="{deactive : openMenuAddList === true }">
          <div ng-click="addListMenuActiv(!openMenuAddList, $event);" class="third-list__btn">
            <span>Dodaj listę...</span>
          </div>
        </li>
        <li>
          <div ng-click="blockClosingList($event)" ng-class="{active : openMenuAddList === true}" class="third-list__input">
            <!--<form ng-submit="addList(newList)">-->
            <form>
              <input type="text" class="form-control" ng-model="newList" placeholder="Dodaj kartę..." />
              <button class="btn btn-success" ng-click="addList(newList)">Dodaj</button>
              <button class="btn btn-default" ng-click="addListMenuActiv(!openMenuAddList, $event);">Anuluj</button>
            </form>
          </div>
        </li>
      </ul>
    </ul>
  </div>



  <div ng-repeat="item in board.lists">
    <div ng-repeat="card in item.cards">

      <div id="{{card._id}}" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <!--start-->

              <div class="modal-wrapper">
                <div class="modal-heading">
                  <div style="position: relative;">
                    <span class="modal-icon glyphicon glyphicon-pushpin"></span>
                    <h4>{{card.name}}</h4>
                  </div>
                  <div>
                    <p class="quiet-heading">
                      W liścię
                      <span class="underline">{{ item.list }}</span>
                    </p>
                  </div>
                </div>


                <div class="modal-left-column">
                  <div class="modal-label" ng-repeat="item in card.labels">
                    <span style="background-color: {{item.colour}}">{{item.name}}</span>
                  </div>
                  <div class="modal-desc">


                    <div ng-class="{ deactive : toggleDesc != false }">
                      <a href="#">
                        <span class="quiet-heading underline" ng-click="toggleDesc = !toggleDesc">
                              <h5 class="quiet-heading">Opis:</h5>  Edytuj
                        </span>
                      </a>
                    </div>

                    <div class="modal-desc-form" ng-class="{ deactive : toggleDesc != false }">
                      <p> {{card.description}}</p>
                    </div>

                    <div class="modal-desc-form" ng-class="{ deactive : toggleDesc != true }">
                      <form ng-submit="editDesc($parent.$index, $index, descripNew, !toggleDesc)">
                        <textarea ng-model="descripNew" cols="30" rows="2" class="form-control" placeholder="Dodaj bardziej szczegółowy opis..."></textarea>
                        <button class="btn btn-success" ng-click="toggleDesc = !toggleDesc">Zapisz</button>
                      </form>
                    </div>
                  </div>




                  <div class="modal-tasks" ng-repeat="listsTaskItem in card.listsTasks">
                    <div style="position: relative" class="modal-header-wrapper">
                      <span class="modal-icon-inside glyphicon glyphicon-edit"></span>
                      <h4 class="loud-header">{{listsTaskItem.name}}</h4>
                      <span class="quiet-heading modal__deleteLists" ng-click="deleteListOfTasks($parent.$parent.$index, $parent.$index, $index)">Usuń...</span>
                    </div>

                    <div class="progress-wrapper">
                      <span class="quiet-heading"> {{listsTaskItem.percent | number:0}}% </span>
                      <div class="progress">
                        <div class="progress-bar" style="width: {{listsTaskItem.percent}}%;"> </div>
                      </div>
                    </div>


                    <ul>
                      <li ng-repeat="itemTask  in listsTaskItem.tasks">
                        <div class="taskInList">
                          <input type="checkbox" ng-change="updateStatusInTask($parent.$parent.$parent.$index, $parent.$parent.$index, $parent.$index)"
                            ng-model="itemTask.status" />
                          <span ng-class="{ completeTask : itemTask.status == true }">{{itemTask.name}}</span>
                          <button type="button" class="close" ng-click="deleteTaskFromList($parent.$parent.$parent.$index, $parent.$parent.$index, $parent.$index, $index)">&times;</button>
                        </div>
                      </li>

                      <div class="addTaskToListBtn" ng-class="{ deactive : toggleAddTask == true && indexAddTask == $index}">
                        <span ng-click="openAddTask($index)">Dodaj element</span>
                      </div>

                      <div class="addTaskToList" ng-class="{ active : toggleAddTask == true && indexAddTask == $index }">
                        <form>
                          <textarea ng-model="task" class="form-control"></textarea>
                          <button class="btn btn-success" ng-click="addTaskToList($parent.$parent.$index, $parent.$index, $index, task)">Dodaj</button>
                        </form>
                      </div>
                    </ul>
                  </div>



                  <div class="modal-comments" style="position: relative;">
                    <span class="modal-icon glyphicon glyphicon-comment"></span>
                    <h4 class="loud-header">Dodaj komentarz</h4>
                    <form>
                      <textarea ng-model="commentCard" cols="30" rows="2" class="form-control" placeholder="Napisz komentarz..."></textarea>
                      <button class="btn btn-success" ng-click="addComment($parent.$index, $index, commentCard)">Dodaj</button>
                    </form>
                  </div>


                  <div class="modal-activity" style="position: relative;">
                    <span class="modal-icon glyphicon glyphicon-time"></span>
                    <h4 class="loud-header">Aktywność</h4>


                    <div class="window-comments">
                      <div style="border-bottom: 1px solid #E2E4E6; margin-top: 5px;" ng-repeat="comment in card.comments ">
                        <div>
                          <p class="comment-card">{{ comment.text }}</p>
                        </div>
                        <div>
                          <p class="quiet-heading">
                            {{ comment.created | timeAgo }}

                            <u>Edytuj</u> -
                            <u>Usuń</u>
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>

                <div class="modal-right-column">

                  <div class="modal-option pull-right">
                    <h4 class="loud-header">Dodaj</h4>
                    <div>
                      <a href="#" class="option-menu">Członkowie</a>
                      <div style="position: relative;">
                        <a href="#" class="option-menu" ng-click="activeMenu('addLabel', !toggle, $event)">Etykiety</a>

                        <!---->
                        <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'addLabel' && toggle === true }">
                          <span class="menu-heading">Dodaj Etykiete</span>

                          <div class="label-control-wrapper center-block">


                            <div>
                              <input type="text" class="form-control" ng-model="searchText.name" placeholder="Szukaj etykiet...">
                              <ul>
                                <li ng-repeat="item in board.boardLabels | filter:searchText">
                                  <div class="label-wrapper">
                                    <a href="#" ng-click="addLabel($parent.$parent.$index, $parent.$index, $index, item)">
                                      <span class="label-property" style="background-color: {{item.colour}}; ">{{item.name}}</span>
                                    </a>
                                    <span class="label-glyphicon glyphicon glyphicon-pencil" ng-click="labelMenu(item.colour, item.name, $index, 'editLabel', !toggle, $event);"></span>
                                  </div>

                                  <!---->
                                  <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'editLabel' && toggle === true && indexEditLabel == $index}">
                                    <span class="menu-heading">Zmień Etykietę</span>
                                    <div class="label-control-wrapper center-block">
                                      <form>
                                        <h5>Nazwa</h5>
                                        <input type="text" class="form-control" ng-model="insertedName">
                                        <h5>Wybierz kolor</h5>
                                        <div class="label-create">
                                          <span ng-repeat="item in labels" style="background-color: {{item.colour}}" ng-click="changeLabelColour(item.colour)">
                                                <span class="glyphicon glyphicon-ok" ng-if="selectedColour == item.colour"></span>
                                          </span>
                                        </div>

                                        <button class="btn btn-success pull-right" ng-click="labelControl(insertedName, $index)">Zapisz</button>
                                        <button class="btn btn-danger pull-right">Usuń</button>
                                      </form>
                                    </div>

                                  </div>
                                </li>
                              </ul>



                            </div>


                          </div>

                        </div>
                        <!---->
                      </div>

                      <div style="position: relative">
                        <a href="#" class="option-menu" ng-click="activeMenu('addListOfTasks', !toggle, $event)">Lista zadań</a>

                        <!---->
                        <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'addListOfTasks' && toggle === true }">
                          <span class="menu-heading">Dodaj Listę Zadań</span>

                          <div class="todo-list-wrapper">
                            <form>
                              <label for="">Nazwa</label>
                              <input type="text" class="form-control" ng-model="nameList" placeholder="Dodaj liste zadań..">
                              <button class="btn btn-success pull-right" ng-click="addListOfTasks($parent.$index, $index, nameList)">Dodaj</button>
                            </form>

                          </div>
                        </div>
                        <!---->
                      </div>
                      <a href="#" class="option-menu">Termin</a>
                      <a href="#" class="option-menu">Załącznik</a>
                    </div>
                    <h4 class="loud-header">Działania</h4>
                    <div>
                      <div style="position: relative">

                        <a href="#" class="option-menu" ng-click="activeMenu('Przenieś', !toggle, $event)">Przenieś</a>

                        <!---->
                        <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'Przenieś' && toggle === true }">
                          <span class="menu-heading">Przenieś Kartę</span>

                          <div class="transfer-wrapper">
                            <form>
                              <div class="transfer-opt">
                                <span>Przenieś do tablicy:</span>
                                <select class="form-control" ng-model="selectedBoard" ng-change="changeBoard(selectedBoard)">  
                                <option ng-repeat="item in boards" value="{{item._id}}">{{item.name}}</option>   
                                </select>
                              </div>


                              <div class="transfer-opt">
                                <span>Przenieś do listy:</span>
                                <select class="form-control" ng-model="selectedList">  
                                <option ng-show="downloadedLists === 0"  disabled value="">Lista do której przenieść kartę ...</option>
                                <option ng-repeat="item in downloadedLists" value="{{$index}}">{{item.list}}</option>
                                </select>
                              </div>


                              <button class="btn btn-success pull-right" ng-click="changePositionCard(selectedBoard, selectedList)">Przenieś</button>
                            </form>
                          </div>

                        </div>
                        <!---->
                      </div>

                      <!--KOPIUJ KARTE-->

                      <div style="position: relative">

                        <a href="#" class="option-menu" ng-click="activeMenu('Kopiuj', !toggle, $event)">Kopiuj</a>

                        <!---->
                        <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'Kopiuj' && toggle === true }">
                          <span class="menu-heading">Kopiuj Kartę</span>

                          <div class="transfer-wrapper">
                            <form>
                              <div class="transfer-opt">
                                <span>Zmienić nazwę?:</span>
                                <textarea rows="4" ng-model="nameNew" class="form-control" ng-keypress="($event.keyCode==13) ? copyCard() : return"></textarea>

                                <h5>Zatrzymaj:</h5>
                                <input type="checkbox" ng-model="status"> Komentarze {{commentsLength}}

                                <span>Kopiuj do tablicy:</span>
                                <select class="form-control" ng-model="selectedBoard" ng-change="changeBoard(selectedBoard)">  
                                <option ng-repeat="item in boards" value="{{item._id}}">{{item.name}}</option>   
                                </select>
                              </div>


                              <div class="transfer-opt">
                                <span>Kopiuj do listy:</span>
                                <select class="form-control" ng-model="selectedList">  
                                <option ng-show="downloadedLists === 0"  disabled value="">Lista do której skopiować kartę ...</option>
                                <option ng-repeat="item in downloadedLists" value="{{$index}}">{{item.list}}</option>
                                </select>
                              </div>


                              <button class="btn btn-success pull-right" ng-click="copyCard(nameNew, status, selectedBoard, selectedList)">Kopiuj</button>
                            </form>
                          </div>

                        </div>
                        <!---->
                      </div>
                      <!---->

                      <a href="#" class="option-menu">Subskrybuj</a>

                      <!--USUń KARTE-->

                      <div style="position: relative">

                        <a href="#" class="option-menu" ng-click="activeMenu('Usuń', !toggle, $event)">Usuń</a>

                        <!---->
                        <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'Usuń' && toggle === true }">
                          <span class="menu-heading">Skasować Kartę?</span>
                          <div class="delete-wrapper">
                            <span>Wszystkie aktywności zostaną usunięte z kanału aktywności i nie będzie możliwości odtworzenia karty. Nie ma powrotu.</span>
                            <button class="btn btn-danger">Skasuj</button>
                          </div>
                        </div>
                        <!---->
                      </div>
                      <!---->
                    </div>
                  </div>
                </div>

              </div>
              <!--end-->




            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </div>
  </div>






  <script src="/javascripts/angular-timeago.js"></script>
  <script src="/javascripts/board/boardController.js"></script>

  <script src="/navbar/navbar-module.js"></script>
  <script src="/navbar/navbar-component.js"></script>

  <script src="/navbar/profile-menu/profile-menu-component.js"></script>
  <script src="/navbar/notifications/notifications-component.js"></script>
  <script src="/navbar/menu-create/menu-create-component.js"></script>

  <script src="/sidebar/sidebar.js"></script>
</body>

</html>