<nav class="menu-wrapperRM" ng-class="{activeRM : toggleRightMenu == true}">
    <div class="menu-headerRM">
        <a href="#" id="menu-back" ng-if="level == 1" ng-click="changeRightMenu('Menu', true, 0)">Back</a>
        <a href="#" id="menu-back" ng-if="level == 2" ng-click="changeRightMenu(earlierMenu, true, 1)">Back</a>
        <h4>{{nameMenu}}</h4>
        <a href="#" id="menu-close" ng-click="toggleRightMenu = false">X</a>
    </div>
    <hr style="height: 1px; background-color: #D6DADC; margin: 5px 0 10px 0;">
    <!--ng-if="earlierMenu == 'Menu'"-->

    <!--menu-->
    <div class="menuRM" ng-class="{activeRM : nameMenu == 'Menu'}">
        <div ng-class="{ deactiveRM : nameMenu != 'Menu' }">
            <div style="margin-top: 60px">

                <a href="" class="btn-addUser"><span class="glyphicon glyphicon-user"></span>Zaproś...</a>
                <div style="display: none;">
                    <form ng-submit="addMemberBoard(addMember)">
                        <label for="">Dodaj członka</label><br>
                        <input type="text" class="form-control" ng-model="addMember" placeholder="add a new task" />
                    </form>
                </div>
            </div>
            <hr style="height: 1px; background-color: #D6DADC; margin: 10px 0 5px 0;">


            <div class="menu-list">
                <ul>
                    <li>
                        <a href="#" ng-click="changeRightMenu('Zmień tło', true, 1)">
                            <span class="glyphicon glyphicon-grain"></span> Zmień tło
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="changeRightMenu('Zmień tło', true, 1)">
                            <span class="glyphicon glyphicon-filter"></span> Filtruj karty
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="changeRightMenu('Dodatki', true, 1)">
                            <span class="glyphicon glyphicon-open"></span> Dodatki
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="changeRightMenu('Więcej', true, 1)">
                            <span class="glyphicon glyphicon-option-horizontal"></span> Więcej
                        </a>
                    </li>
                </ul>
            </div>

            <hr style="height: 1px; background-color: #D6DADC; margin: 10px 0 5px 0;">
            <span>
        <span class="glyphicon glyphicon-time"></span> Aktywność
            </span>
        </div>

    </div>



    <!--wiecej-->
    <div class="menuRM" ng-class="{ activeRM : nameMenu == 'Więcej' }">
        <div class="menu-more_list" ng-class="{ deactiveRM : nameMenu != 'Więcej' }">
            <ul>
                <li>
                    <a href="#" ng-click="changeRightMenu('Ustawienia', true, 2)">
                        <span class="glyphicon glyphicon-cog"></span> Ustawienia
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="changeRightMenu('Etykiety', true, 2)">
                        <span class="glyphicon glyphicon-pushpin"></span> Etykiety
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-apple"></span> Zarchiwizowane elementy</a>
                </li>


                <hr style="height: 1px; background-color: #D6DADC; margin: 10px 0 5px 0;">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-duplicate"></span> Skopiuj tablicę</a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-lock"></span> Zamknij tablicę</a>

                </li>
            </ul>

            <hr style="height: 1px; background-color: #D6DADC; margin: 10px 0 5px 0;">

            <span>  Odnośnik do tej tablicy </span>
            <input type="text" readonly="readonly" ng-model="user._id">


        </div>
    </div>

    <!--kolory opcje -->
    <div class="menuRM" ng-class="{ activeRM : nameMenu == 'Zmień tło' }">
        <div class="changeColour" ng-class="{ deactiveRM : nameMenu != 'Zmień tło' }">

            <a href="#" ng-click="changeRightMenu('Kolory', true, 2)">
                <span>Kolory</span>
                <div class="change-colour"></div>

            </a>

            <a href="#" ng-click="changeRightMenu('Zdjęcia', true, 2)">
                <span>Zdjęcia</span>
                <div class="change-image"></div>

            </a>

        </div>
    </div>


    <!--kolory -->
    <div class="menuRM" ng-class="{ activeRM : nameMenu == 'Kolory' }">
        <div class="colours" ng-class="{ deactiveRM : nameMenu != 'Kolory' }">
            <a class="colour " id="blue" href="#"></a>
            <a class="colour " id="orange" href="#"></a>
            <a class="colour " id="green" href="#"></a>
            <a class="colour " id="red" href="#"></a>
            <a class="colour " id="purple" href="#"></a>
            <a class="colour " id="teal" href="#"></a>
            <a class="colour " id="pink" href="#"></a>
            <a class="colour " id="grey" href="#"></a>
            <a class="colour " id="violet" href="#"></a>
        </div>
    </div>
    <!--/kolory-->




    <!--dodatki-->
    <div class="menuRM" ng-class="{ activeRM : nameMenu == 'Dodatki' }">
        <div ng-class="{ deactiveRM : nameMenu != 'Dodatki' }">
            <h3> Dodatki </h3>
            <ul>
                <li>one</li>
                <li>one</li>
            </ul>
        </div>
    </div>




    <!--menu w więcej-->
    <!--ustawienia-->
    <div class="menuRM" ng-class="{ activeRM : nameMenu == 'Ustawienia' }">
        <div class="menu-more_list" ng-class="{ deactiveRM : nameMenu != 'Ustawienia' }">
            <ul>
                <li>
                    <a href="#">
                        Zmień Zespół...
                        </a>
                </li>
                <hr style="height: 1px; background-color: #D6DADC; margin: 10px 0 5px 0;">
                <li>
                    <a href="#"> 
                        Okładki zdjęciowe do kart włączone
                        </a>
                </li>
                <hr style="height: 1px; background-color: #D6DADC; margin: 10px 0 5px 0;">
                <li>
                    <a href="#"> 
                         Uprawnienia komentowania...
                         </a>
                </li>


                <li>
                    <a href="#"> 
                         Dodaj/cofnij uprawnienia
                         </a>
                </li>

            </ul>
            <span>Zezwól członkom zespołu aby mogli się dołączyć.</span>


        </div>
    </div>


    <!--etykiety-->
    <div class="menuRM" ng-class="{ activeRM : nameMenu == 'Etykiety' }">
        <div class="menu-label" ng-class="{ deactiveRM : nameMenu != 'Etykiety' }">
            <div>
                <input type="text" class="form-control" ng-model="searchText.name" placeholder="Szukaj etykiet...">
                <ul>
                    <li ng-repeat="item in board.boardLabels | filter:searchText">
                        <div class="label-wrapper">
                            <a href="#">
                                <span class="label-property" style="background-color: {{item.colour}}; ">{{item.name}}</span>
                            </a>
                            <span class="label-glyphicon glyphicon glyphicon-pencil" ng-click="labelMenu(item.colour, item.name, $index, 'editLabel', !toggle, $event);"></span>
                        </div>
 
                            <!---->
                            <div class="menu label-control" ng-click="blockClosingList($event)" ng-class="{active : name === 'editLabel' && toggle === true && indexEditLabel == $index}">
                                <span class="settings-menu__header-title">Zmień Etykietę</span> 
                                <div class="label-control-wrapper center-block">
                                    <form>
                                        <h5>Nazwa</h5>
                                        <input type="text" class="form-control" ng-model="insertedName">
                                        <h5>Wybierz kolor</h5>
                                        <div class="label-create">
                                            <span ng-repeat="item in labels" style="background-color: {{item.colour}}" ng-click="changeLabelColour(item.colour)">
                                                <span class="glyphicon glyphicon-ok" ng-if="selectedColour == item.colour"></span>
                                            </span>
                                        </div>		 

                                        <button class="btn btn-success pull-right" ng-click="labelControl(insertedName, $index)">Zapisz</button>
                                        <button class="btn btn-danger pull-right" ng-click="deleteLabel(item._id)">Usuń</button>
                                    </form>
                                </div>

                            </div>
                            <!----> 
                    </li>
                </ul>



            </div>



            <div class="label-bottom">
                <a href="#" ng-click="labelMenu(null, null, null, 'createLabel', !toggle, $event);">Utwórz nową etykietę</a>

                       <!---->
                            <div class="menu label-control" ng-click="blockClosingList($event)" ng-class="{active : name === 'createLabel' && toggle === true }">
                                <span class="settings-menu__header-title">Nowa Etykieta</span> 
                                <div class="label-control-wrapper center-block">
                                    <form>
                                        <h5>Nazwa</h5>
                                        <input type="text" class="form-control" ng-model="insertedName">
                                        <h5>Wybierz kolor</h5>
                                        <div class="label-create">
                                            <span ng-repeat="item in labels" style="background-color: {{item.colour}}" ng-click="changeLabelColour(item.colour)">
                                                <span class="glyphicon glyphicon-ok" ng-if="selectedColour == item.colour"></span>
                                            </span>
                                        </div>		 
                                        <div> 
                                            <p class="quiet-heading">Jeśli nie wybierzesz koloru domyślnie zostanie ustawiony szary.</p>
                                        </div>
                                        <button class="btn btn-success pull-right" ng-click="labelControl(insertedName, $index)">Zapisz</button>
                                        <button class="btn btn-danger pull-right">Usuń</button>
                                    </form>
                                </div>

                            </div>
                            <!---->
            </div>


            <hr style="height: 1px; background-color: #D6DADC; margin: 5px 0 10px 0;">

        </div>
    </div>
</nav>