         <a href="#" ng-click="$ctrl.parent.activeMenu('Create', $event);">
        <div class="btns">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      </a>
  

    <div class="menu menu_create" ng-click="blockClosingList($event)" ng-class="{active : $ctrl.parent.name === 'Create' && $ctrl.parent.toggle === true}">
      <!--<a href="#" ng-click="$ctrl.parent.activeMenu('Create', false, $event);">close</a>-->
      <span class="menu-heading">Utwórz</span>
      <ul class="menu_create-list">
        <li>
          <a href="#" ng-click="$ctrl.parent.activeMenu('menuCreateBoard', $event);">
            <div class="menu_wrapper-create">
              <span class="menu_create-heading">Utwórz tablicę</span>
              <span class="menu_create-desc">Tablica składa się z kart uporządkowanych w listach. Użyj jej do zarządzania projektami, śledzenia informacji i organizowania wszystkiego.</span>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div class="menu_wrapper-create">
              <span class="menu_create-heading">Utwórz zespół</span>
              <span class="menu_create-desc">Zespół składa się z ludzi i tablic. Organizuj z jego pomocą firmę, swoją drugą pracę, plany dla rodziny i spotkania z przyjaciółmi.</span>
            </div>
          </a>
        </li>
      </ul>
    </div>